{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
    <div class="d-flex center flex-column">
            <div class="profile-panel d-flex flex-row">
                <div class="center">
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit">Dodaj komentarz</button>
                    </form>
                </div>
            </div>

    </div>


{% else %}

<meta http-equiv="refresh" content="0; url=/members/login/" />

{% endif %}


{% endblock content %}