{% extends "base.html" %}
{% block content %}

        <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="post flex-column d-flex justify-content-center">
                    <h2 class="logo-text"><a href="{% url 'profile' post.profile.pk %}"><p>{{post.profile}}</p></a></h2>
                    <a href="{% url 'post-photogram' post.pk %}">
                        <img src="{{post.picture.url}}" class="image" >
                    </a>
                    <div class="description">
                        <p class="">{{post.description}}</p>
                    </div>
                        <h2 class="colour-text">Komentarze</h2>
                        {% if not post.comments.all %}
                                <p>Jeszcze nie ma komentarzy...</p>
                                <a href="#">Dodaj komentarz</a>
                        {% else %}
                                <a href="#">Dodaj komentarz</a>
                                {% for comment in post.comments.all %}
                                <div class="comment">
                                    <p class="comment-text">{{comment.author}}</p>
                                    <p class="comment-text">{{comment.text}}</p>
                                </div>
                                {% endfor %}
                        {% endif %}
                </div>
        </div>


{% endblock content %}
