{% extends "base.html" %}
{% block content %}

    <div class="d-flex center flex-column">
            <div class="profile-panel d-flex flex-row">
                <div class="center">
                    <img src="{{object.profile_picture.url}}" class="profile-avatar image" alt="Not found">
                </div>
                <div>
                    <h1 class="colour-text px-3">{{profile.user_name}}</h1>
                    <div class="line px-3"></div>
                    <p class="colour-text px-3">Wiek</p>
                    <p class="colour-text px-3">{{profile.age}}</p>
                    <div class="line px-3"></div>
                    <p class="colour-text px-3">Bio</p>
                    <p class="colour-text px-3">{{profile.bio}}</p>
                </div>
            </div>
        <div>
            {% for post in user.post_set.all %}
                <div>{{ profile.user }}</div>
            {% endfor %}
        </div>
    </div>



{% endblock content %}