body {
    background-image: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}
/*Page before login*/
.block {
    background-color: rgba(0, 0, 0, 0.685);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    color: white;
    text-align: center;
    padding: 50px;
    border-style: none;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
    margin-top: 70px;
    box-shadow: 10px 10px 15px black;
}
.block p {
    padding: 15x;
}
.block a {
    text-decoration: none;
}
.block .separate {
    padding-bottom: 20px;
}
.logo {
    position: absolute;
    padding: 10px;
    top: 20px;
    left: 30px;
    border-radius: 10px;
}
.logo-text {
    background: linear-gradient(to right, #298787 0%, #653d96 100%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  text-decoration: none;
}
.colour-text {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Page after login*/
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.post {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.662);
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px black;
}
.post h2 {
    padding-left: 20px;
    font-size: 35px;
}
.post .image {
    width: 550px;
    height: 420px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 5px 15px black;
}
.post .description {
    padding: 20px;
    padding-left: 20px;
    background: linear-gradient(to right, #3cb8b8 0%, #8751c9 100%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  text-decoration: none;
}
.description {
    background-color: rgb(22, 21, 21);
    border-radius: 20px;
    margin: 20px;
    box-shadow: 10px 5px 15px black;
    padding:20px;
    width: 520px;
}
.description .font {
    font-size: 10;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 2px 2px 2px black;
}
.comment-text {
    color: rgb(255, 244, 244);
}
.comment-author {
    font-weight: bold;
}
.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
.profile-panel {
    position: relative;
    background-color: rgba(0, 0, 0, 0.685);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding: 40px;
    margin: 200px;
    max-width: 700px;
    border-style: none;
    margin: 3px;
    box-shadow: 10px 10px 15px black;
    width: 800px;
}
.profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
.panel {
    width: 200px;
}
.line {
    border-bottom: solid 2px #298787;
    width: 100%;
}
button {
    padding: 15px;
}
input {
    border-radius: 10px;
    padding: 5px;
}